.main_cont {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: rgb(110, 110, 110);
    padding: 5em;
    justify-content: center;
    align-items: center;
  
    h1 {
      color: whitesmoke;
      grid-area: title;
    }
  
    img {
      grid-area: img;
      margin: 5em;
    }
  }
  
  .contact {
    margin: 0.5em 10em;
    justify-content: center;
  }
  @media (max-width: 400px) {
    .main_cont {
      padding: 2.06em;
  
      img {
        margin: 2.06em;
      }
    }
    .contact {
      margin: 0.02em 4.1322em;
    }
  }