footer {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  grid-area: footer;
  grid-row: 3;
  grid-column: 1 2 3;

  p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    color: rgba(245, 245, 245, 0.678);
    font-size: 1em;

    a {
      text-decoration: seashell;
      color: rgba(245, 245, 245, 0.678);
      font-size: 1em;
    }
  }
<<<<<<< HEAD
  
  @media (max-width: 400px) {
    footer {
      padding-top: 0.016em;
      padding-bottom: 0.16em;
  
      min-width: 253.26px;
  
      p {
        font-size: 1em;
        a {
          font-size: 1em;
        }
      }
    }
  }
=======
}
>>>>>>> f9a2994c658e1fdb2ee81a02dceafe1a95779f95
