

.img_block {
  background-color: white;
  margin: 0em 10em 0em 10em;
  padding: 3rem;
  text-align: center;
  align-content: center;
  h3 {
    color: rgb(235, 235, 235);
  }
  p {
    text-align: center;
    color: rgb(235, 235, 235);
  }
}

.img_sub {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

@media (max-width: 1200px) {
  .img_sub {
    grid-template-areas: "img_1 img_1" "img_2 img_2";
  }

  .img_1 img,
  .img_2 img {
    width: 50em;
  }

  .main_cont {
    grid-template-areas: "title title" "img img";

    img {
      min-width: 250px;
    }
  }
}

@media (min-width: 1201px) {
  .img_sub {
    grid-template-areas: "img_1 img_2" "img_1 img_2";
  }

  .main_cont {
    grid-template-areas: "title img" "title img";
  }
}
