.home {
  margin: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  text-align: center;
}

.MainVid {
  margin: 8vh;
}

#MainVid {
  width: 38.5vh;
  text-align: center;
  img{
    width: 30em;
  }
}

@media (max-width: 400px) {
  .home {
    margin: 0.61em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 266.52px;
  }
  .MainVid {
    margin: 1.0661em;
  }
  #MainVid {
    width: 12.39em;
    min-width: 206.61px;
    img {
      width: 12.39em;
      min-width:206.61px ;
  }}
}
