.inf {
    margin: 0.5em 3em 0.5em 3em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
  }
  
  .info {
    color: black;
    padding: 1.5em 1.5em 1.5em 1.5em;
    margin: 2em 1em 2em 1em;
    grid-area: info;
    background-color: white;
  }
  
  .info_2 {
    color: black;
    padding: 1.5em 1.5em 1.5em 1.5em;
    margin: 2em 1em 2em 1em;
    grid-area: info_2;
    background-color: white;
  }
  
  .info_3 {
    color: black;
    grid-area: info_3;
    padding: 1.5em 1.5em 1.5em 1.5em;
    margin: 2em 1em 2em 1em;
    background-color: white;
  }
  
.inf {
  grid-template-areas: "info info info_2 info_2" " . . . ." ". info_3 info_3 .";
}
  
@media (max-width: 400px) {
  .inf {
    grid-template-areas: "info info info" "info_2 info_2 info_2" "info_3 info_3 info_3";
  }

  .info p,
  .info_2 p,
  .info_3 p {
    min-width: 206.61px;
  }

.inf {
  margin: 0.206em 1.239em 0.206em 1.239em;
  display: grid;
}

.info {
  padding: 0.619em;
  margin: 0.826em 0.0413em 0.826em 0.0413em;
}

.info_2 {
  padding: 0.619em;
  margin: 0.826em 0.0413em 0.826em 0.0413em;
}

.info_3 {
  padding: 0.619em;
  margin: 0.826em 0.0413em 0.826em 0.0413em;
}}