$bg-color: white;
$widths: ("widht_1":206.61px, "widht_2":351.23px );


.mapa {
    text-align: center;
    margin: 0em 10em;
    padding: 2em;
    background-color: $bg-color;
    grid-area: ubi;
  
    p {
      text-align: center;
    }
  }
  
  .fact {
    margin: 0em 10em;
    padding: 2em;
    text-align: center;
    background-color: $bg-color;
    flex-direction: column;
    grid-area: fact;
  
    p {
      color: black;
      text-align: justify;
      align-content: center;
      font-size: 1em;
    }
  
    img {
      width: 30em;
    }
  }
  .grid-ubi {
    grid-template-areas: "ubi fact" "ubi fact";
  }

  .mapa {
    min-width: map-get($widths , "widht_1" );
    margin: 1em 1em;
  }
.frmapa{
  width: 50em;
  height: 25em;
  min-width: map-get($widths , "widht_1" );
}
  .fact {
    min-width: map-get($widths , "widht_2" );
    margin: 1em 1em;
  } 
  .grid-ubi {
    display: grid;
    height: auto;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  @media (max-width: 400px) {
    .grid-ubi {
      grid-template-areas: "ubi ubi" "fact fact";
    }
  
    .fact {
      img {
        min-width: map-get($widths, "widht_1");
      }
  
      p {
        min-width: map-get($widths, "widht_1");
      }
    }
    .mapa {
      text-align: center;
      padding: 1em;
    }
    .frmapa{
      width: 12.39em;
      height: 10em;
      min-width: map-get($widths , "widht_1" );
    }
  
    .fact {
    
      padding: 0.826em;
      p {
        font-size: 0.4132em;
      }
      img {
        width: 12.39em;
      }
    }
    .fact {
      img {
        min-width: map-get($widths, "widht_1");
      }
  
      p {
        min-width: map-get($widths, "widht_1");
      }
    }
  }
  
