main {
  padding-bottom: 2em;
  grid-area: main;
  -ms-grid-row: 2;
  grid-row: 2;
  grid-column: 1 2 3;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: justify;
  margin: 0;
  padding: 0.5em;
  color: black;
  font-size: 1.5em;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 0;
  padding: 1em;
  color: black;
  font-size: 2em;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 0;
  padding: 1em;
  color: black;
  font-size: 1.8em;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 0;
  padding: 1em;
  color: black;
}

@media (max-width: 400px) {
  main {
    padding-bottom: 0.826em;
  }
  p {
    margin: 0;
    padding: 0.2066em;
    font-size: 0.6198em;
  }
  h1 {
    margin: 0;
    padding: 0.4132em;
    font-size: 0.8264em;
  }
  h2 {
    margin: 0;
    padding: 0.4132em;
    font-size: 0.7438em;
  }
  h3 {
    margin: 0;
    padding: 0.4132em;
  }
}

header {
  grid-area: header;
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column: 1 2 3;
  background-color: black;
}

.menu {
  padding-bottom: 0px;
  margin: 0px;
  text-align: center;
}

.logo {
  height: 11.3em;
  width: 13em;
  margin-top: 1em;
  margin-bottom: 1em;
  grid-area: logo;
}

.pages {
  grid-area: nav;
}

nav ul li a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3em;
  padding: 0.4em;
}

@media (max-width: 400px) {
  .logo {
    height: 4.66em;
    width: 5.37em;
    margin-top: 0.41em;
    margin-bottom: 0.41em;
  }
  nav ul li a {
    font-size: 0.6em;
    padding: 0.16em;
  }
  header,
  .menu {
    min-width: 258.26px;
  }
}

footer {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  grid-area: footer;
  -ms-grid-row: 3;
  grid-row: 3;
  grid-column: 1 2 3;
}

footer p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: rgba(245, 245, 245, 0.678);
  font-size: 1em;
}

footer p a {
  -webkit-text-decoration: seashell;
          text-decoration: seashell;
  color: rgba(245, 245, 245, 0.678);
  font-size: 1em;
}

@media (max-width: 400px) {
  footer {
    padding-top: 0.016em;
    padding-bottom: 0.16em;
    min-width: 253.26px;
  }
  footer p {
    font-size: 1em;
  }
  footer p a {
    font-size: 1em;
  }
}

.home {
  margin: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  text-align: center;
}

.MainVid {
  margin: 8vh;
}

#MainVid {
  width: 38.5vh;
  text-align: center;
}

#MainVid img {
  width: 30em;
}

@media (max-width: 400px) {
  .home {
    margin: 0.61em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 266.52px;
  }
  .MainVid {
    margin: 1.0661em;
  }
  #MainVid {
    width: 12.39em;
    min-width: 206.61px;
  }
  #MainVid img {
    width: 12.39em;
    min-width: 206.61px;
  }
}

.inf {
  margin: 0.5em 3em 0.5em 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.info {
  color: black;
  padding: 1.5em 1.5em 1.5em 1.5em;
  margin: 2em 1em 2em 1em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: info;
  background-color: white;
}

.info_2 {
  color: black;
  padding: 1.5em 1.5em 1.5em 1.5em;
  margin: 2em 1em 2em 1em;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: info_2;
  background-color: white;
}

.info_3 {
  color: black;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: info_3;
  padding: 1.5em 1.5em 1.5em 1.5em;
  margin: 2em 1em 2em 1em;
  background-color: white;
}

.inf {
      grid-template-areas: "info info info_2 info_2" " . . . ." ". info_3 info_3 .";
}

@media (max-width: 400px) {
  .inf {
        grid-template-areas: "info info info" "info_2 info_2 info_2" "info_3 info_3 info_3";
  }
  .info p,
  .info_2 p,
  .info_3 p {
    min-width: 206.61px;
  }
  .inf {
    margin: 0.206em 1.239em 0.206em 1.239em;
    display: -ms-grid;
    display: grid;
  }
  .info {
    padding: 0.619em;
    margin: 0.826em 0.0413em 0.826em 0.0413em;
  }
  .info_2 {
    padding: 0.619em;
    margin: 0.826em 0.0413em 0.826em 0.0413em;
  }
  .info_3 {
    padding: 0.619em;
    margin: 0.826em 0.0413em 0.826em 0.0413em;
  }
}

.mapa {
  text-align: center;
  margin: 0em 10em;
  padding: 2em;
  background-color: white;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: ubi;
}

.mapa p {
  text-align: center;
}

.fact {
  margin: 0em 10em;
  padding: 2em;
  text-align: center;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: fact;
}

.fact p {
  color: black;
  text-align: justify;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1em;
}

.fact img {
  width: 30em;
}

.grid-ubi {
      grid-template-areas: "ubi fact" "ubi fact";
}

.mapa {
  min-width: 206.61px;
  margin: 1em 1em;
}

.frmapa {
  width: 50em;
  height: 25em;
  min-width: 206.61px;
}

.fact {
  min-width: 300px;
  margin: 1em 1em;
}

.grid-ubi {
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

@media (max-width: 400px) {
  .grid-ubi {
        grid-template-areas: "ubi ubi" "fact fact";
  }
  .fact img {
    min-width: 206.61px;
  }
  .fact p {
    min-width: 206.61px;
  }
  .mapa {
    text-align: center;
    padding: .5em;
  }
  .frmapa {
    width: 12.39em;
    height: 10em;
    min-width: 206.61px;
  }
  .fact {
    padding: 0.826em;
  }
  .fact p {
    font-size: 0.4132em;
  }
  .fact img {
    width: 12.39em;
  }
}

.img_block {
  background-color: white;
  margin: 0em 10em 0em 10em;
  padding: 3rem;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.img_block h3 {
  color: #ebebeb;
}

.img_block p {
  text-align: center;
  color: #ebebeb;
}

.img_sub {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.img_sub {
      grid-template-areas: "img_1 img_2" "img_1 img_2";
}

.main_cont {
      grid-template-areas: "title img" "title img";
}

@media (max-width: 400px) {
  .img_sub {
        grid-template-areas: "img_1 img_1" "img_2 img_2";
  }
  .img_block {
    margin: 0em 1em 0em 1em;
    padding: 1.23rem;
  }
  .img_1 img,
  .img_2 img {
    width: 20.66em;
  }
  .main_cont {
        grid-template-areas: "title title" "img img";
  }
  .main_cont img {
    min-width: 206.61px;
  }
}

.main_cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  background-color: #6e6e6e;
  padding: 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_cont h1 {
  color: whitesmoke;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: title;
}

.main_cont img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img;
  margin: 5em;
}

.contact {
  margin: 0.5em 10em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 400px) {
  .main_cont {
    padding: 2.06em;
  }
  .main_cont img {
    margin: 2.06em;
  }
  .contact {
    margin: 0.02em 4.1322em;
  }
}
/*# sourceMappingURL=style.css.map */